header {
    background-color: #f9f9f9;
}

.container-h{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}

.top-header {
    text-align: center;
    border-bottom: #007b solid 2px;
    margin-bottom: 2px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #007b solid 5px;
}

.sub-header li{
    display: inline;
}

.menu-icon {
    display: none;
}

.sub-header a {
    color: #000;
    padding-right: 6px;
}

.sub-header a:hover {
    color: #007b;
}




@media (max-width:768px){
    .nav-bar , .log-regis {
        display: none;
    }
    .menu-icon {
        display: inline;
    }
}