.container-b {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

}

.container-b a {
    color: #007b;
}

.first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.row-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}


.secondary-news {
    display: flex;
    flex-direction: row;
    border: red solid 1px;
}

.alt-news {
    display: flex;
    flex-direction: row;
}

.box-1 , .box-2 , .box-3, .box-4 {
    margin: 6px;
    background-color: #f9f9f9 ;
    box-shadow: 0 50px 20px -40px #4a4a4a;

    
}

.box-1 {
    max-width: 800px;
    
    padding-bottom:  5px;
    border: blue solid 1px;
}

.row-news {
    
    border: saddlebrown solid 1px;
    margin-top: 0;

}

.box-3 {
    border-bottom: 1px solid #6c757d;
    border-top: 1px solid #6c757d
}

